<div th:fragment="common" xmlns:th="http://www.thymeleaf.org">
    <script>
    /*<![CDATA[*/
        $(document).ready(function () {

            $('#allthethings').popup({
                opacity: 0,
                transition: 'all 0.5s'
            });

            getButtonStates = function () {
                var isCode = $('#code').hasClass('glyphicon-ok');
                var isIdToken = $('#id_token').hasClass('glyphicon-ok');
                var isToken = $('#token').hasClass('glyphicon-ok');
                var isProfile = $('#profile').hasClass('glyphicon-ok');
                var isEmail = $('#email').hasClass('glyphicon-ok');
                var isAddress = $('#address').hasClass('glyphicon-ok');
                var isPhone = $('#phone').hasClass('glyphicon-ok');

                return {
                    isCode: isCode, isIdToken: isIdToken, isToken: isToken, isProfile: isProfile,
                    isEmail: isEmail, isAddress: isAddress, isPhone: isPhone
                };
            };

            getFlowType = function () {
                var buttonStates = getButtonStates();

                var flowType = '';
                if (buttonStates.isCode && (buttonStates.isIdToken || buttonStates.isToken)) {
                    flowType = 'hybrid';
                } else if (buttonStates.isCode) {
                    flowType = 'code';
                } else if (buttonStates.isIdToken || buttonStates.isToken) {
                    flowType = 'implicit';
                } else {
                    flowType = 'none_selected';
                }
                return flowType;
            };

            codeUrlBuilder = function () {
                var buttonStates = getButtonStates();

                var responseType =
                    (buttonStates.isCode ? 'code+' : '') +
                    (buttonStates.isIdToken ? 'id_token+' : '') +
                    (buttonStates.isToken ? 'token+' : '');
                if (responseType.endsWith('+')) {
                    responseType = responseType.substring(0, responseType.length - 1);
                }

                var scope = 'openid' +
                    (buttonStates.isProfile ? '+profile' : '') +
                    (buttonStates.isEmail ? '+email' : '') +
                    (buttonStates.isAddress ? '+address' : '') +
                    (buttonStates.isPhone ? '+phone' : '');

                var codeUrlParts = [];
                codeUrlParts.push('https://' + $('#okta_org').val() + '/oauth2/');
                codeUrlParts.push($('#auth_server_id').val() + '/v1/authorize?');
                codeUrlParts.push('client_id=' + $('#oidc_client_id').val() + '&');
                codeUrlParts.push('response_type=' + responseType + '&');
                codeUrlParts.push('scope=' + scope + '&');
                codeUrlParts.push('state=' + $('#state').html() + '&');
                codeUrlParts.push('nonce=' + $('#nonce').html() + '&');
                codeUrlParts.push('redirect_uri=' + encodeURIComponent($('#redirect_uri').html()));

                $('#code_url').attr('href', codeUrlParts.join(''));
                $('#code_url').html(codeUrlParts.join('<br/>'));

                var flowType = getFlowType();
            };

            allTheThings = function() {
                $('#allthethings').popup('show');
                setTimeout(function () {
                    $('#allthethings').popup('hide');
                }, 1000)
            };

            buttonToggle = function (e) {
                var target = e.currentTarget;
                var child = target.firstElementChild;
                if ($(child).hasClass('glyphicon-ok')) {
                    $(child).removeClass('glyphicon-ok');
                    $(child).addClass('glyphicon-remove');
                    $(target).removeClass('btn-primary');
                } else if ($(child).hasClass('glyphicon-remove')) {
                    $(child).removeClass('glyphicon-remove');
                    $(child).addClass('glyphicon-ok');
                    $(target).addClass('btn-primary');
                }

                var buttonStates = getButtonStates();

                if (
                    buttonStates.isCode && buttonStates.isIdToken && buttonStates.isToken &&
                    buttonStates.isProfile && buttonStates.isEmail && buttonStates.isAddress &&
                    buttonStates.isPhone
                ) {
                    allTheThings();
                }
            };

            ShowNoticeIfConfigChanged = function () {
                $.ajax({
                    url: '/is_changed',
                    type: 'GET',
                    success: function (response) {
                        if (response.isChanged) {
                            $('#config-change-notice').show();
                        }
                    }
                });
            };
        });
    /*]]>*/
    </script>
</div>

<div th:fragment="home" xmlns:th="http://www.thymeleaf.org">
    <script>
        /*<![CDATA[*/
            $(document).ready(function () {
                var flowTypeHandler = function (e) {
                    buttonToggle(e);

                    var flowTypes = ['code', 'implicit', 'hybrid'];
                    flowTypes.forEach(function (localFlowType) {
                        $('#' + localFlowType + '-type').parent().removeClass('bg-success');
                        $('#' + localFlowType + '-type').removeClass('glyphicon-ok');
                        $('#' + localFlowType + '-type').addClass('glyphicon-remove');
                    });

                    var flowType = getFlowType();
                    var flowIdx = flowTypes.indexOf(flowType);
                    if (flowIdx >= 0) {
                        $('#' + flowType + '-type').parent().addClass('bg-success');
                        $('#' + flowType + '-type').addClass('glyphicon-ok');
                        $('#' + flowType + '-type').removeClass('glyphicon-remove');
                    }
                };

                $('#revert-config').click(function () {
                    $('#config-change-notice').hide();

                    $.ajax({
                        url: '/reset_config',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function (response) {
                            $('#oidc_client_id').val(response['okta.oidc.client.id']);
                            $('#auth_server_id').val(response['okta.authorization.server.id']);
                            $('#okta_org').val(response['okta.org']);
                            codeUrlBuilder();
                        }
                    });
                });

                $('.update-config').bind('keyup blur', function () {
                    $('#config-change-notice').show();

                    // update on server
                    $.ajax({
                        url: '/update_config',
                        type: 'PUT',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            'okta.oidc.client.id': $('#oidc_client_id').val(),
                            'okta.authorization.server.id': $('#auth_server_id').val(),
                            'okta.org': $('#okta_org').val()
                        }),
                        dataType: 'json'
                    });
                });

                // check to see if the config has changed. If so, we need to disable the validate access token button
                ShowNoticeIfConfigChanged();

                $('.build-url').bind('keyup blur', codeUrlBuilder);
                $('.response-type').click(function (e) {
                    flowTypeHandler(e);
                    codeUrlBuilder();
                });
                $('.scope').click(function (e) {
                    buttonToggle(e);
                    codeUrlBuilder();
                });

                // set redirect and url properly
                $('#code').parent().click();
            });
        /*]]>*/
    </script>
</div>

<div th:fragment="flow_results" xmlns:th="http://www.thymeleaf.org">
    <script src="/js/codemirror.js"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            var prettyTextAreas = {
                validate: undefined,
                introspect: undefined,
                userinfo: undefined
            };
            for (var textAreaName in prettyTextAreas) {
                if (prettyTextAreas.hasOwnProperty(textAreaName)) {
                    var textArea = document.getElementById(textAreaName);
                    prettyTextAreas[textAreaName] = CodeMirror.fromTextArea(textArea, {
                        mode: 'application/json',
                        lineNumbers: true,
                        matchBrackets: true,
                        readOnly: true
                    });
                }
            }

            var query = (location.search)?location.search:location.href.substring(location.href.indexOf('#')+1);
            var urlParams = new URLSearchParams(query);

            // check to see if the config has changed. If so, we need to disable the validate access token button
            $.ajax({
                url: '/is_changed',
                type: 'GET',
                success: function (response) {
                    var isConfigChanged = response.isChanged;

                    if (urlParams.get('code')) {
                        $('#code').val(urlParams.get('code'));
                        if (isConfigChanged) {
                            $('.exchange-code').prop("disabled",true);
                        }
                        $('#code-section').show();
                    }

                    if (urlParams.get('access_token')) {
                        $('#access_token').val(urlParams.get('access_token'));
                        if (isConfigChanged) {
                            $('.introspect').prop("disabled",true);
                        }
                        $('#access_token-section').show();
                    }
                }
            });

            if (urlParams.get('id_token')) {
                $('#id_token').val(urlParams.get('id_token'));
                $('#id_token-section').show();
            }

            if (urlParams.get('state')) {
                $('#state').val(urlParams.get('state'));
                $('#state-section').show();
            }

            if (urlParams.get('scope')) {
                $('#scope').val(urlParams.get('scope'));
                $('#scope-section').show();
            }

            // check to see if the config has changed. If so, we need to disable the validate access token button
            ShowNoticeIfConfigChanged();

            $('.validate').click(function (e) {
               e.preventDefault();
                $.ajax({
                    url: '/validate',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'id_token': $('#id_token').val() }),
                    dataType: 'json',
                    success: function (response) {
                        $('#validate-section').show();
                        prettyTextAreas['validate'].setValue(JSON.stringify(response.validateResponse, null, '\t'));

                        $('#jwks_link').html(
                            '<a href="' + response.jwksLink + '" target="_blank">' + response.jwksLink + '</a>'
                        );
                    }
                });
            });

            $('.introspect').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/introspect',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'access_token': $('#access_token').val() }),
                    dataType: 'json',
                    success: function (response) {
                        $('#introspect-section').show();
                        prettyTextAreas['introspect'].setValue(JSON.stringify(response.introspectResponse, null, '\t'));
                        $('#introspect_link').html(response.introspectLink);
                    }
                });
            });

            $('.userinfo').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/userinfo',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'access_token': $('#access_token').val() }),
                    dataType: 'json',
                    success: function (response) {
                        $('#userinfo-section').show();
                        prettyTextAreas['userinfo'].setValue(JSON.stringify(response.userinfoResponse, null, '\t'));
                        $('#userinfo_link').html(response.userinfoLink);
                    }
                });
            })
        });
        /*]]>*/
    </script>
</div>



<div th:fragment="chart" xmlns:th="http://www.thymeleaf.org">
    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            var flowTypeHandler = function (e) {
                buttonToggle(e);

                var flowTypes = ['code', 'implicit', 'hybrid'];
                flowTypes.forEach(function (localFlowType) {
                    $('#' + localFlowType + '-type').removeClass('btn-primary');
                });

                var flowType = getFlowType();
                var flowIdx = flowTypes.indexOf(flowType);
                if (flowIdx >= 0) {
                    $('#' + flowType + '-type').addClass('btn-primary');
                }
            };
            $('.response-type').click(flowTypeHandler);
            $('.scope').click(buttonToggle);
        });
        /*]]>*/
    </script>
</div>