<div th:fragment="common" xmlns:th="http://www.thymeleaf.org">
    <script>
    /*<![CDATA[*/
        $(document).ready(function () {
            getFlowType = function () {
                var isCode = $('#code').hasClass('glyphicon-ok');
                var isIdToken = $('#id_token').hasClass('glyphicon-ok');
                var isToken = $('#token').hasClass('glyphicon-ok');

                var flowType = '';
                if (isCode && (isIdToken || isToken)) {
                    flowType = 'hybrid';
                } else if (isCode) {
                    flowType = 'code';
                } else if (isIdToken || isToken) {
                    flowType = 'implicit';
                } else {
                    flowType = 'none_selected';
                }
                return flowType;
            };

            codeUrlBuilder = function () {
                var responseType =
                    ($('#code').hasClass('glyphicon-ok')?'code+':'') +
                    ($('#id_token').hasClass('glyphicon-ok')?'id_token+':'') +
                    ($('#token').hasClass('glyphicon-ok')?'token+':'');
                if (responseType.endsWith('+')) {
                    responseType = responseType.substring(0, responseType.length - 1);
                }

                var scope = 'openid' +
                    ($('#profile').hasClass('glyphicon-ok')?'+profile':'') +
                    ($('#email').hasClass('glyphicon-ok')?'+email':'') +
                    ($('#address').hasClass('glyphicon-ok')?'+address':'') +
                    ($('#phone').hasClass('glyphicon-ok')?'+phone':'');

                var codeUrlParts = [];
                codeUrlParts.push('https://' + $('#okta_org').val() + '/oauth2/');
                codeUrlParts.push($('#auth_server_id').val() + '/v1/authorize?');
                codeUrlParts.push('client_id=' + $('#oidc_client_id').val() + '&');
                codeUrlParts.push('response_type=' + responseType + '&');
                codeUrlParts.push('scope=' + scope + '&');
                codeUrlParts.push('state=' + $('#state').val() + '&');
                codeUrlParts.push('nonce=' + $('#nonce').val() + '&');
                codeUrlParts.push('redirect_uri=' + encodeURIComponent($('#redirect_uri').html()));

                $('#code_url').attr('href', codeUrlParts.join(''));
                $('#code_url').html(codeUrlParts.join('<br/>'));

                var flowType = getFlowType();

                // update on server
                $.ajax({
                    url: '/update_config',
                    type: 'PUT',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        'okta.oidc.client.id': $('#oidc_client_id').val(),
                        'okta.authorizationServer.id': $('#auth_server_id').val(),
                        'okta.org': $('#okta_org').val(),
                        'redirect.uri': $('#redirect_uri').html()
                    }),
                    dataType: 'json'
                });
            };

            buttonToggle = function (e) {
                var target = e.currentTarget;
                var child = target.firstElementChild;
                if ($(child).hasClass('glyphicon-ok')) {
                    $(child).removeClass('glyphicon-ok');
                    $(child).addClass('glyphicon-remove');
                    $(target).removeClass('btn-primary');
                } else if ($(child).hasClass('glyphicon-remove')) {
                    $(child).removeClass('glyphicon-remove');
                    $(child).addClass('glyphicon-ok');
                    $(target).addClass('btn-primary');
                }
            };
        });
    /*]]>*/
    </script>
</div>

<div th:fragment="home" xmlns:th="http://www.thymeleaf.org">
    <script>
        /*<![CDATA[*/
            $(document).ready(function () {
                $('.build-code-url').keyup(codeUrlBuilder);

                var flowTypeHandler = function (e) {
                    buttonToggle(e);

                    var flowTypes = ['code', 'implicit', 'hybrid'];
                    flowTypes.forEach(function (localFlowType) {
                        $('#' + localFlowType + '-type').parent().removeClass('bg-success');
                        $('#' + localFlowType + '-type').removeClass('glyphicon-ok');
                        $('#' + localFlowType + '-type').addClass('glyphicon-remove');
                    });

                    var flowType = getFlowType();
                    var flowIdx = flowTypes.indexOf(flowType);
                    if (flowIdx >= 0) {
                        $('#' + flowType + '-type').parent().addClass('bg-success');
                        $('#' + flowType + '-type').addClass('glyphicon-ok');
                        $('#' + flowType + '-type').removeClass('glyphicon-remove');
                        $('#redirect_uri').html([location.protocol, '//', location.host, location.pathname].join('') +  flowType);
                    } else {
                        $('#redirect_uri').html([location.protocol, '//', location.host, location.pathname].join(''));
                    }

                    codeUrlBuilder();
                };
                $('.response-type').click(flowTypeHandler);
                $('.scope').click(function (e) {
                    buttonToggle(e);
                    codeUrlBuilder();
                });

                // set redirect and url properly
                $('#code').parent().click();
            });
        /*]]>*/
    </script>
</div>

<div th:fragment="show_code" xmlns:th="http://www.thymeleaf.org">
    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            var query = (location.search)?location.search:location.href.substring(location.href.indexOf('#')+1);
            var urlParams = new URLSearchParams(query);

            if (urlParams.get('code')) {
                $('#code').val(urlParams.get('code'));
                $('#code-section').show();
            }

            if (urlParams.get('id_token')) {
                $('#id_token').val(urlParams.get('id_token'));
                $('#id_token-section').show();
            }

            if (urlParams.get('access_token')) {
                $('#access_token').val(urlParams.get('access_token'));
                $('#access_token-section').show();
            }

            if (urlParams.get('state')) {
                $('#state').val(urlParams.get('state'));
                $('#state-section').show();
            }
        });
        /*]]>*/
    </script>
</div>



<div th:fragment="chart" xmlns:th="http://www.thymeleaf.org">
    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            var flowTypeHandler = function (e) {
                buttonToggle(e);

                var flowTypes = ['code', 'implicit', 'hybrid'];
                flowTypes.forEach(function (localFlowType) {
                    $('#' + localFlowType + '-type').removeClass('btn-primary');
                });

                var flowType = getFlowType();
                var flowIdx = flowTypes.indexOf(flowType);
                if (flowIdx >= 0) {
                    $('#' + flowType + '-type').addClass('btn-primary');
                }
            };
            $('.response-type').click(flowTypeHandler);
            $('.scope').click(buttonToggle);
        });
        /*]]>*/
    </script>
</div>