<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="box col-md-6 col-md-offset-3">
                    <div class="okta-header">
                        <img width="300px" src="/images/OktaLogo.png"/>
                    </div>
                    <p/>
                    <div th:inline="text">
                        [[${result.access_token}]]
                    </div>
                    <p/>
                    <div th:inline="text">
                        [[${result.id_token}]]
                    </div>
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/scripts :: foot"/> /*/-->
    </body>
</html>