<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="box col-md-10 col-md-offset-1">
                    <div class="okta-header">
                        <img width="300px" src="/images/OktaLogo.png"/>
                    </div>
                    <p/>
                    <form class="form-horizontal" id="zork-form" method="POST" action="">
                        <div class="form-group" id="introspect-section">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="alert alert-info squash-margin-bottom" role="alert">
                                    <a href="https://en.wikipedia.org/wiki/Zork" class="underline-links" target="_blank">Zork</a>
                                    is the classic text-based Infocomm game from the '80s.<br/>
                                    Enter commands below to see it in action.<br/>
                                    Try turning off the access token and see what happens.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="access_token-section">
                            <label class="col-md-3 control-label" for="access_token">Access Token</label>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="2" name="access_token" id="access_token" placeholder="access_token"/>
                            </div>
                        </div>
                        <div class="form-group" id="zork-section">
                            <label class="col-md-3 control-label" for="game-space">ZORK!</label>
                            <div class="col-md-6 val-token">
                                <textarea class="form-control" rows="20" name="game-space" id="game-space" placeholder="ZORK!"/>
                            </div>
                        </div>
                        <div class="form-group" id="command-section">
                            <label class="col-md-3 control-label" for="command-line">Hit Enter to send</label>
                            <div class="col-md-6 val-token">
                                <input class="form-control" name="command-line" id="command-line" placeholder="type: restart, to start game over"/>
                                <p/>
                                <div>
                                    <a href="https://httpie.org/" target="_blank">HTTPie</a> command:<br/>
                                    <textarea rows="3" name="httpie" id="httpie"/>
                                </div>
                            </div>
                            <div class="col-md-3 val-token">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="bearer" type="checkbox" checked="checked"/>
                                        Use Access Token
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/scripts :: common"/> /*/-->
        <!--/*/ <th:block th:include="fragments/scripts :: zork"/> /*/-->
    </body>
</html>